<form action="" id="my-form">
    <p class="text"></p>
    <input type="text" name="your-name">
    <p class="error"></p>
</form>

<script>
    console.log(Kensho.plugin.get('full2half').func);
    var kensho = new Kensho('#my-form');
    kensho.add(
        'input[name="your-name"]',
        'input[name="your-name"] + .error',
        {
            'required' : '値が一致しません',
            'halfsize' : {
                'errorMessage' : '1バイトのみ',
                'param'        : {
                    'empty' : false
                }
            }
        },
        'keyup|blur'
    );
</script>
