<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ path '/reset.css' }}">
    <style>
        body{ padding : 15px }
        input[type="text"], input[type="tel"], input[type="password"],
        input[type="email"], input[type="search"], input[type="url"],
        input[type="number"]{
            border     : 1px solid #333;
            height     : 32px;
            outline    : none;
            box-sizing : border-box;
            padding    : 0 0.5em;
            font-size  : 16px;
        }
        p.text{
            font-size     : 15px;
            line-height   : 1.4;
            margin-bottom : 0.3em;
            font-weight   : bold;
        }
        p.error{
            margin-top  : 0.3em;
            line-height : 1.4;
            color       : #F00;
        }
        p.error > span{
            display : block;
        }
        div[class^="set"] + div[class^="set"]{
            margin-top : 1em
        }
        input[type="submit"],
        input[type="button"]{
            margin-top : 1em;
        }
    </style>
    <script src="{{ path '/kensho.js' }}"></script>
</head>
<body>
    {{{ yield }}}
</body>
</html>
